<h2>REDDIT CLONE!</h2>

<ul class="posts">
  <% @posts.each do |post| %>
      <li class="post">
        <%= link_to post.title, post.link %>
        <%= link_to "Comments", comments_path(post) %>


      </li>
  <% end %>

  <div class="posts-nav">
    <%= paginate @posts %>
    <%= link_to "Add a new Post!", posts_new_path %>
  </div>
</ul>